<body>
  <main>
    <div class="container">
      <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
      >
      <div *ngIf="isAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-octagon me-1"></i>
       Revisa tus creenciales
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        <div class="container">
          <div class="row justify-content-center">
            <div
              class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
            >
              <div class="d-flex justify-content-center py-4">
                <a
                  href="index.html"
                  class="logo d-flex align-items-center w-auto"
                >
                  <img src="assets/img/logo_ojara.png" alt="" />
                </a>
              </div>
              <!-- End Logo -->

              <div class="card mb-3">
                <div class="card-body">
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">
                      Ingresa a su cuenta
                    </h5>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourUsername" class="form-label"
                        >Usuario</label
                      >
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"
                          >@</span
                        >
                        <input
                          type="text"
                          name="username"
                          class="form-control"
                          id="yourUsername"
                          required
                          [(ngModel)]="user"
                        />
                        <div class="invalid-feedback">Ingrese su usuario.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label"
                        >Contraseña</label
                      >
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="yourPassword"
                        required
                        [(ngModel)]="password"
                      />
                      <div class="invalid-feedback">Ingrese contraseña!</div>
                    </div>
                  </form>
                  <br>
                  <div class="col-12">
                    <button class="btn btn-danger w-100" (click)="login()">
                      Ingresar
                    </button>
                  </div>
                  <br>
                  <div class="col-12">
                    <p class="small mb-0">
                      No tienes una cuenta?
                      <a [routerLink]="[registerPage]">Crear cuenta</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="footer credits" style="text-align: center">
                Desarrollado por <br />
                Miguel Chaparro - Andrés Hernández
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <!-- End #main -->
</body>
