<!-- Google Fonts -->
<link href="https://fonts.gstatic.com" rel="preconnect" />
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet"
/>
<!-- Option 1: Include in HTML -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>
<link
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
  rel="stylesheet"
/>

<div>
  <div *ngIf="sideMenu; else elseBlock">
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/logo_ojara.png" alt="" />
        </a>
      </div>

    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-heading">Lineas</li>

        <li class="nav-item">
          <a class="nav-link collapsed"  (click)="lines('adulto', 'Adulto')">
            <i class="bi bi-person"></i>
            <span>Adulta</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="lines('adultopremium', 'Adulto Premium')">
            <i class="bi bi-person-circle"></i>
            <span>Adulta Premium</span>
          </a>
        </li>
        <!-- End F.A.Q Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="lines('junior', 'Junior')">
            <i class="bi bi-emoji-wink"></i>
            <span>Junior</span>
          </a>
        </li>
        <!-- End Contact Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="lines('infantil', 'Infantil')">
            <i class="bi bi-emoji-heart-eyes"></i>
            <span>Infantil</span>
          </a>
        </li>
        <!-- End Register Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="lines('interiorfemenino', 'Interior Femenino')">
            <i class="bi bi-alarm"></i>
            <span>Interior Femenino</span>
          </a>
        </li>
        <!-- End Login Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="lines('interiormasculina', 'Interior Masculina')">
            <i class="bi bi-dash-circle"></i>
            <span>Interior Masculino</span>
          </a>
        </li>
        <!-- End Error 404 Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" (click)="contact()">
            <i class="bi bi-card-text"></i>
            <span>Contacto</span>
          </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" (click)="close()">
              <i class="bi bi-arrow-bar-left"></i>
              <span>Salir</span>
            </a>
          </li>
        <!-- End Blank Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->
    <router-outlet></router-outlet>

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
  </div>
  <ng-template #elseBlock>
    <router-outlet></router-outlet>
  </ng-template>
</div>
